<%= form_for(travel_date) do |f| %>
  <% if travel_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_date.errors.count, "error") %> prohibited this travel_date from being saved:</h2>

      <ul>
      <% travel_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td><b><%= f.label :date, "Travel Date:" %></b></td>
      <td> <%= f.date_field :date, { class: "form-control" } %> </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="container">
    <div class="col-sm-6" style="height:130px;">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker9'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker9').datetimepicker({
                viewMode: 'years'
            });
        });
    </script>
</div>
