<p id="notice"><%= notice %></p>

<h1>Travel Dates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_dates.each do |travel_date| %>
      <tr>
        <td><%= link_to 'Show', travel_date %></td>
        <td><%= link_to 'Edit', edit_travel_date_path(travel_date) %></td>
        <td><%= link_to 'Destroy', travel_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel Date', new_travel_date_path %>
