<p id="notice"><%= notice %></p>
<%= render partial: "pods", locals: {travel_date: @travel_date} %>
<%= link_to 'Edit', edit_travel_date_path(@travel_date) %> |
<%= link_to 'Back', travel_dates_path %>
<br>
<h4><%= link_to 'Deliverables', '#' %></h4>
<h4>Recent Activity:</h4>
