<%= form_for(task_type) do |f| %>
  <% if task_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_type.errors.count, "error") %> prohibited this task_type from being saved:</h2>

      <ul>
      <% task_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, "Task Description" %>:
  <%= f.text_field :name %><br />
  <%= f.label :date_offset,"Due" %>:
  <%= f.number_field :date_offset, min: 0, :value => task_type.days_to_weeks %>
  <br />
  <% if task_type.date_offset %>
    <%= radio_button("task_type", "timeframe", "pre", :checked => task_type.pre? )%> weeks in advance
    <%= radio_button("task_type", "timeframe", "post", :checked => task_type.post?) %> weeks after
  <% else %>
    <%= radio_button("task_type", "timeframe", "pre", :checked => true )%> weeks in advance
    <%= radio_button("task_type", "timeframe", "post") %> weeks after
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
