<p id="notice"><%= notice %></p>

<h1>Task Types</h1>
<p><%= link_to 'New Task Type', new_task_type_path %>

  <% @task_types.each do |task_type| %>
  <p>
      <%= task_type.name  %>
        <%= pluralize(task_type.days_to_weeks, 'week') %>
        <%= task_type.pre? ? 'in advance' : 'after the program' %>

      <%= link_to 'Edit', edit_task_type_path(task_type) %>
    </p>
<% end %>

<br>
