<% if @pods.count > 0 %>
  <h3 class="text-center"><%= Date::MONTHNAMES[month] %></h3>
  <%= link_to 'New Task', new_task_path %>
    <table class="table table-bordered table-active table-hover">
      <thead>
        <tr>
          <th></th>
          <% @pods.each do |pod| %>
            <th>
              <div>
                <%= pod.country.name%> <%= image_tag(pod.country.get_img_url, size: "30") %>
                <br> <%= pod.short_date  %>
                <br> <%= pod.host_org.city_state  %>
              </div>
            </th>
          <% end %>
        </tr>
      </thead>
    <!-- This requires the most refactoring of anything I've ever written anywhere -->
      <tbody>
        <% @task_types.each do |task_type| %>
          <tr>
            <td><%= link_to task_type.name, task_type_path(task_type)  %></td>
            <% @pods.each do |pod| %>
              <% task = task_type.find_task(pod) %>
                <% if task_type.task_status(pod) %>
                  <td class="success text-center">
                <% elsif task_type.due_this_week?(pod) %>
                  <td class="warning text-center">
                <% elsif task_type.past_due?(pod) %>
                  <td class="danger text-center">
                <% else %>
                  <td class="text-center">
                <% end %>
                <%= link_to '-', task_path(task), method: :patch %>
              </td>

            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
