<p id="notice"><%= notice %></p>

<h1>Host Orgs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @host_orgs.each do |host_org| %>
      <tr>
        <td><%= link_to 'Show', host_org %></td>
        <td><%= link_to 'Edit', edit_host_org_path(host_org) %></td>
        <td><%= link_to 'Destroy', host_org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host Org', new_host_org_path %>
