<p id="notice"><%= notice %></p>

<h1>Pods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pods.each do |pod| %>
      <tr>
        <td><%= link_to 'Show', pod %></td>
        <td><%= link_to 'Edit', edit_pod_path(pod) %></td>
        <td><%= link_to 'Destroy', pod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pod', new_pod_path %>
